html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no-match {
    background: #f45a5a;
}

.deck .card.disabled {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.score-panel .restart:hover {
    transform: scale(1.1);
}

.ready-modal, .victory-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.9);
}

.ready-modal div,
.victory-modal div {
    text-align: center;
    margin-top: 25%;
}

.ready-modal div button,
.victory-modal div button,
.ready-to-play div button {
    padding: 0.5em 2em;
    font-size: 1em;
    background: #fff;
    color: #000;
    border: solid 1px #000;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.ready-modal div button:hover,
.victory-modal div button:hover,
.ready-to-play div button:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
}

.victory-modal {
    display: none;
}

.game-reset, .ready-to-play {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.game-reset {
    display: none;
}

.game-reset div,
.ready-to-play div {
    width: 320px;
    background: #fff;
    text-align: center;
    padding: 2em;
    margin-top: 23em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
}

.timer {
    display: inline-block;
    margin-left: 8em;
}
